<!DOCTYPE html>
<html>

<head>
    <title>Tutors</title>
</head>

<body>
    <h2>Tutors List</h2>
    <a href="{% url 'home' %}">← Back to Home</a><br><br>
<form method="GET">

    <input
        type="text"
        name="q"
        placeholder="Search tutor by name"
        value="{{ query }}"
    >

    <select name="status">
        <option value="">All Status</option>

        <option value="Active"
            {% if status == "Active" %}selected{% endif %}>
            Active
        </option>

        <option value="Inactive"
            {% if status == "Inactive" %}selected{% endif %}>
            Inactive
        </option>
    </select>

    <button type="submit">Search / Filter</button>

    <a href="{% url 'tutors' %}">Clear</a>

</form>

<br>
    <table border="1" cellpadding="6">
        <tr>
            <th>Tutor Name</th>
            <th>Completed Sessions</th>
            <th>Avg Rating</th>
            <th>Status</th>
        </tr>
        {% for t in tutors %}
        <tr>
            <td>{{ t.student.name }}</td>
            <td>{{ t.completed_sessions }}</td>
            <td>{{ t.avg_rating }}</td>
            <td>{{ t.tutor_status }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No tutors found.</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>